/* #>id .>class */
h1 {
    color: red;
}


body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f6f5f4;
}

table, th, td {
    border: 1px solid black; /* 枠線の太さ、種類、色を指定 */
    border-collapse: collapse; /* 二重線を一本化 */
}

/*  サイドバー */

.container {
    display: flex;
    gap: 20px;
}

.cp_navi01 {
    width: 250px;
    top: 20px;
    height: fit-content;
    background-color:#f6f5f4;
}

.main_navi{
    position: sticky;
}

.content {
    flex: 1;
}
/* 
.cp_navi01 {
    width: 250px;
    padding: 1em;
    position: sticky;
    top: 20px; 
} */

.cp_navi01 ul {
    width: 200px;
    /*メニューの幅*/
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #eeeeee;
}

.cp_navi01 li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000000;
    transition: all .3s;
}

.cp_navi01 li {
    text-align: center;
}

.cp_navi01 li:last-child {
    border-bottom: none;
}

.cp_navi01 li a.active {
    color: #ffffff;
    background-color: #da3c41;
}

.cp_navi01 li a:hover:not(.active) {
    color: #ffffff;
    background-color: #1b2538;
}

/*  カレンダー */
/* .container {
    display: flex;
} */

/* .content {
    flex: 1;
    padding: 1em;
} */

.cale{
    width: 600px;
    height: 600px;
    background-color: white;
}

.cale tr td{
    text-align: center;
    width: 100px;
}

#planView p{
    background-color: white;
    padding: 5px;
    margin: 0;
    margin-top: 10px;
    width: 250px;
}

#planlist{
    background-color: white;
}
.table_datetime{
    width: 200px;
}